!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %title= data.page.title || 'ぬRuby'
    = favicon_tag 'favicon.ico'
    = stylesheet_link_tag 'normalize', 'all'
    = javascript_include_tag 'all'

  %body
    =link_to 'https://github.com/imaz/nuruby.org' do
      =image_tag 'https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png', {alt: 'Fork me on Github', style: 'position: absolute; top: 0; left: 0; border: 0;'}
    .container
      .header
        = partial 'layouts/index'
      .contents
        = yield
      .footer
        %span
          © 2013 #{link_to '@nuruby', 'https://twitter.com/nuruby'} All rights reserved.
