!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %title= data.page.title || 'ぬRuby'
    = favicon_tag 'favicon.ico'
    = stylesheet_link_tag 'normalize', 'all'
    = javascript_include_tag 'all'

  %body
    .container
      .header
        %ul.index
          %li= link_to 'Top', '/'
          %li= link_to 'About', 'about.html'
      .contents
        = yield
      .footer
        %span
          © 2013 @PUPRL All rights reserved.
